body {
    font-family: "Cantarell", sans-serif;
}

#game {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 900px;
    width: 1100px;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 10px;
}

#topbar, #bottombar {
    width: 1100px;
    height: 50px;
    box-sizing: border-box;
    background-color: #b86;
    border: 5px solid #754;
    display: flex;
    align-items: center;
    color: #754;
    font-weight: 900;
    padding: 5px;
}

#topbar img, #bottombar img {
    margin: 5px;
}

#topbar a, #bottombar a {
    color: #754;
    text-decoration-thickness: 2px;
}

#topbar {
    border-radius: 10px 10px 0px 0px;
}

#bottombar {
    border-radius: 0px 0px 10px 10px;
}

#wrapper-canvas-sidebar {
    display: flex;
}

canvas {
    height: 800px;
    width: 800px;
}

#sidebar {
    height: 800px;
    width: 300px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
}

.playerbox, .timer, .moves-chat {
    width: 300px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #b86;
    border: 5px solid #754;
    position: relative;
    color: #754;
    font-weight: 900;
}

.playerbox, .timer {
    display: flex;
}

.playerbox {
    height: 250px;
    border-width: 0px 5px;
}

.playerbox img {
    position: absolute;
    top: 30px;
}

.playerbox span {
    position: absolute;
    top: 150px;
    text-align: center;
}

.timer {
    height: 50px;
    border-width: 5px;
}

.timer span {
    margin-left: 5px;
    letter-spacing: 1px;
    font-size: 24px;
    margin-top: -2px;
}

.moves-chat {
    height: 200px;
    border-width: 0px 5px;
}

.moves-chat-select {
    display: flex;
}

.moves-chat-select-moves, .moves-chat-select-chat {
    width: 150px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    background-color: #a75;
    color: #ddd;
}

.moves-chat-select-moves:hover, .moves-chat-select-chat:hover {
    background-color: #964;
}

.chat {
    display: none;
}

.moves {
    display: flex;
    overflow: scroll;
    scrollbar-color: #775544 transparent;
}

.moves-number, .moves-first, .moves-second {
    height: 170px;
    justify-content: center;
    display: flex;
}

.moves-number {
    width: 40px;
}

.moves-first, .moves-second {
    width: 130px;
}

#register-popup-bg, #login-popup-bg, #delete-popup-bg{
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#register-popup, #login-popup, #delete-popup{
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    width: 400px;
    border-radius: 13px;
    border: 4px solid rgba(255, 255, 255, 0.3)
}

#register-popup {
    height: 420px;
}

#login-popup, #delete-popup {
    height: 300px;
}

#register-popup-header, #login-popup-header {
    background-color: #6cf;
    border-radius: 10px 10px 0px 0px;
    height: 50px;
    font-weight: bold;
    font-size: large;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    position: relative;
}

#delete-popup-header{
    background-color: #f55;
    border-radius: 10px 10px 0px 0px;
    height: 50px;
    font-weight: bold;
    font-size: large;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    position: relative;
}

.popup-close {
    padding: 3px;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

#popup-close-login, #popup-close-register {
    background-color: #5be;
}

#popup-close-delete {
    background-color: #e44;
}

form {
    background-color: #eee;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

#register-form {
    height: 370px;
}

#login-form, #delete-form {
    height: 250px;
}

form > input {
    margin: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px;
    width: 364px;
}

form > button {
    border: none;
    border-radius: 5px;
    background-color: #6cf;
    margin-top: 50px;
    width: 380px;
    height: 50px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
}

#delete-form > button {
    border: none;
    border-radius: 5px;
    background-color: #f55;
    margin-top: 50px;
    width:380px;
    height:50px;
    color:white;
    font-weight:bold;
    position:absolute;
    bottom: 10px;
}

form > button:hover {
    cursor: pointer;
    background-color: #5be;
}

#delete-form > button:hover {
    cursor: pointer;
    background-color: #e44;
}

#user {
    color: #6cf;
    font-size: 30px;
    cursor: pointer;
}

#account-select {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 130px;
    padding: 5px;
    border-radius: 8px;
    visibility: hidden;
    margin-top: 5px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
}

#account-select-login, #account-select-register, #account-select-logout, #account-select-delete {
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

#account-select-login, #account-select-register, #account-select-logout {
    color: #6cf;
}

#account-select-delete {
    color: #f55;
}

#account-select-login:hover, #account-select-register:hover, #account-select-logout:hover {
    background-color: #6cf;
    color: white;
}

#account-select-delete:hover {
    background-color: #f55;
    color: white;
}

.account-error {
    background-color: #f99;
    color: #922;
    margin: 5px 0px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #922;
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
    display: none;
}
